.main-stat-box {
  display: grid;
  justify-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.3rem;

  &__user {
    display: flex;
    gap: 0.5rem;
    font-weight: 700;
  }

  &__follow {
    text-align: center;
  }

  &__follow-count {
    font-size: 3.5rem;
    font-weight: 700;
  }

  &__follow-text {
    font-size: 0.8rem;
    letter-spacing: 0.3125rem;
    text-transform: uppercase;
  }
  
  &__rate {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 700;

    &--positive {
      & > * {
        color: #1EB589 !important;
      }
    }

    &--negative {
      & > * {
        color: #DC414C !important;
      }
    }
  }
  
  &--facebook {
    border-top: 3px solid #178FF5;
  }

  &--twitter {
    border-top: 3px solid #1DA1F2;
  }

  &--youtube {
    border-top: 3px solid #C4032B;
  }
}